.page-header {
	background: #f8f9fa;
	position: relative;
	
	&-container {
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		margin-right: auto;
		margin-left: auto;

		@media screen and (min-width: 600px) {
			max-width: 600px;
		}
	
		@media screen and (min-width: 720px) {
			max-width: 720px;
		}
	
		@media screen and (min-width: 1020px) {
			max-width: 1020px;
		}
	
		@media screen and (min-width: 1200px) {
			max-width: 1200px;
		}
	}

	&-inner {
		position: relative;
		padding: 3rem 0;
	}

	.title-block {
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 0.025em;
		text-transform: uppercase;
	}

	.algolia-search {
		svg {
			width: auto;
			height: auto;
		}
	}

	.page-title {
		margin: 0;

		@media screen and (min-width: 1020px) {
			font-size: 4.5rem;
		}
	}

	.archive-description {
		line-height: 1.75;
	}
}

.site-main {
	display: block;

	&__inner {
		display: block;

        @media screen and (min-width: 720px) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -1.25rem;
            margin-left: -1.25rem;
        }
	}
}

article {
	margin-top: 4rem;

	&:first-child {
		margin-top: 0;
	}

	@media screen and (min-width: 720px) {
		body:not(.single) & {
			position: relative;
			width: 100%;
			padding-right: 1.25rem;
			padding-left: 1.25rem;
			flex: 0 0 50%;
			max-width: 50%;

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}
	}
}

.cat-links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1.5rem;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-family: $font__headings;
	font-weight: bold;
	letter-spacing: -0.5px;

	a {
		color: #333;
	}
}

.entry-header {
	display: block;

	.single & {
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
	}
}

.entry-title {
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 0.625rem 0 0;

	@media screen and (min-width: 720px) {
		font-size: 1.5rem;
	}

	.single & {
		font-size: 1.75rem;
		line-height: 1.25;

		@media screen and (min-width: 800px) {
			font-size: 2.5rem;
		}
	}

	a {
		color: #333;
	}
}

.entry-media {
	display: block;
	margin-bottom: 1.5rem;

	.single & {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
	}

	img {
		font-size: 0;
		line-height: 0;
		display: block;
		overflow: hidden;
	}
}

.entry-summary {
	font-size: 1.125rem;
	line-height: 1.75;

	@media screen and (min-width: 800px) {
		font-size: 1.25rem;
	}
}

.entry-meta {
	color: #a8aab2;
	text-transform: uppercase;
	margin-top: 1rem;
	font-size: 0.875rem;

	body:not(.single) & {
		font-size: 0.675rem;
	}

	a {
		font-weight: bold;
		color: #333;
	}
}

.entry-content {
	margin-top: 1rem;
	font-size: 1rem;
	line-height: 1.75;

	p {
		margin: 0;
	}

	.single & {
		@media screen and (min-width: 800px) {
			font-size: 1.125rem;
			line-height: 1.75;
		}

		p {
			max-width: 680px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			max-width: 680px;
			margin-left: auto;
			margin-right: auto;
		}
		
		ul {
			max-width: 680px;
			padding-left: 1rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
		}

		figure {
			img {
				display: block;
				overflow: hidden;
			}

			figcaption {
				font-size: 0.875rem;
			}
		}

		.alignwide {
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3.75rem;
		}

		.alignfull {
			display: block;
			margin-bottom: 3.75rem;
		}
	}
}

.entry-footer {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;

	.tags-links {
		color: #333;
		
		a {
			display: inline-block;
			font-weight: bold;
			text-transform: lowercase;
			color: #333;
		}
	}
}

.entry-share {
	max-width: 680px;
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		padding-right: 0.625rem;
		margin-right: 0.625rem;
		border-right: 1px solid #efefef;

		&:last-child {
			border: 0;
		}
	}

	svg {
		height: 2rem;
		width: 2rem;
	}

	a {
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
	}
}

.comments-area {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@media screen and (min-width: 712px) {
		padding: 0;
	}
}

.updated:not(.published) {
	display: none;
}

#disqus_thread {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@media screen and (min-width: 712px) {
		padding: 0;
	}
}

#dcl_comment_btn {
	border: 0;
	background: #ff0066;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.625rem 2rem;
	border-radius: 50rem;
	cursor: pointer;
}