body {
    overflow-x: hidden;
    
    #page {
        display: block;
        transform: translateX(0);
        transition: transform 0.5s;
    }

    &.offcanvas-active {
        overflow: hidden;

        #page {
            transform: translateX(20.75rem);
            transition: transform 0.5s;
        }

        &:after {
            content: "";
            position: fixed;
            opacity: 1;
            background: rgba(0, 0, 0, 0.5);
            height: 100vh;
            width: 100vw;
            top: 0;

            animation: fade .5s;
        }
    }
}

/* Header
--------------------------------------------- */
@import "header/site-header";

/* Modals
--------------------------------------------- */
@import "modal/menu-modal";
@import "modal/search-modal";

/* Navigation
--------------------------------------------- */
@import "navigation/main-navigation";
@import "navigation/social-navigation";
@import "navigation/posts-navigation";
@import "navigation/footer-navigation";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

/* Footer
--------------------------------------------- */
@import "footer/site-footer";