input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	display: block;
	font-size: .75rem;
	padding: .375rem 1rem;
	line-height: 1.625rem;
	color: #495057;
	background-color: #fff;
	border: 1px solid #e3e5e7;
	border-radius: 0;
	transition: background-color .15s ease-in-out;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

*:focus {
	outline: 0;
}
