.widget {
	margin: 0 0 2.5rem;

	.widget-title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 1.5rem;
		font-size: .875rem;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1;
		margin: 0.25rem 0 0;
	}

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			padding: 1rem 0;
			color: #a8aab2;

			a {
				font-size: 0.875rem;
				padding-right: .6666666667rem;
				margin-right: auto;
				transition: color .2s;
			}

			&:not(:last-child) {
				border-bottom: 1px solid #e9ecef;
			}
		}
	}

	.tagcloud {
		a {
			font-size: 0.875rem !important;
			color: #333;
			background: $color__border-abbr;
			padding: 0.5rem;
			margin: 0.3125rem 0.3125rem 0.3125rem 0;
			display: inline-block;
			border-radius: 2.5px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

.search-form {
	display: flex;
	justify-content: flex-start;

	input[type=search] {
		display: inline-block;
		color: #333;
	}

	.search-submit {
		display: inline-block;
	}
}
