.site-overlay {
    display: none;
}

.offcanvas {

    .site-header .navbar,
    #page>section,
    #page>span,
    #page>div,
    #page>p {
        transition: all .5s ease;
    }

}

.offcanvas-active {
    overflow: hidden;

    .site-overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.15);
        animation: fade .5s;
        z-index: 9999;
    }

    .site-header .navbar,
    #page>section,
    #page>span,
    #page>div,
    #page>p {
        transition: all .5s ease;
        transform: translate3d(332px, 0, 0);
    }
}

.menu-modal {
    top: 0;
    position: fixed;
    left: -20.75rem;
    background: transparent;
    width: 20.75rem;
    height: 100vh;
    background: $color__background-body;
    border-right: 1px solid $color__border-abbr;
    z-index: 99999;
    transition: all 0.5s;
    overflow-x: auto;
    
    .admin-bar & {
        top: 0;

        @media screen and (min-width: 600px) {
            top: 46px;
            height: calc(100vh - 46px);
        }

        @media screen and (min-width: 782px) {
            top: 32px;
            height: calc(100vh - 32px);
        }
    }

    &.offcanvas-active {
        left: 0;
        transition: all 0.5s;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.8125rem;
        padding: 0 2rem;
        border-bottom: 1px solid $color__border-abbr;

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            background: transparent;
            border: 0;
            cursor: pointer;
        }

        svg {
            width: auto;
            height: auto;
            color: #333;
        }
    }

    .social-navigation {
        padding: 2rem;
    }
}